@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    overflow: hidden;
}

.portfolio{
    color: white;
    background: radial-gradient(rgb(99, 15, 22), rgb(8, 3, 3));
}

nav{
    height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    img{
        width: 5%; 
    }
}

.page{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% repeat(3,1fr) 5%;
}
.keane,
.scholes,
.ferdinand,
.ronaldo,
.solskjær,
.nistelrooy,
.saha,
.sar{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.hero{
    height: 500px;
    align-self: center;
    justify-self: center; 
    display: flex;
    transition: box-shadow 1s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    &:hover{
        transition: box-shadow .3s ease-in-out;
        box-shadow: 0px 0px 20px rgba(153,153,0,0.5);
    }
    a{
        display: flex;
    }
    img{
        height: 500px;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }
}

.details{
    grid-column: 2/3;
    align-self: end;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    h1{
        font-size: 4em;

    }
    h2{
        font-family: 'Raleway', sans-serif;
        font-size:2em;
        padding: 1em 0em;
    }
    p{
        font-family: 'Raleway', sans-serif;
        font-size:1.4em;
        padding: 20px 0px 50px 0px;  
    }
    .info i{
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
    }
}

/*Page navigation*/
.pages{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    h6 {
        padding: 0px 15px;
        opacity: .5;
    }
    h6.active{
        opacity: 1;
    }
    >div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    svg{
        
        opacity: .5;
    }
    svg:hover{
        animation: dot 1s ease-in-out infinite alternate;
    }
    .slide.active{
        svg,
        h6 {
            opacity: 1;
        }
    }
    overflow: visible;
}


.nav-open{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width:40vh;
    height:100vh;
    background: #333;
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
   
    p,h3{
        color:white;
        text-shadow: 0 3px 3px rgba(0, 0, 0, 1);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        margin: 10px 20px;
    }
    h3{
        margin: 0;
    }
    .fab{
        font-size: 40px;
        padding: 10px;
        text-shadow: none;
    }

    .contacts {
        position: absolute;
        bottom: 0;
        right:0;
        left:0;
        display: grid;
        grid-template-columns: 5% 1fr 1fr 5%;
    }
    a{
        display: flex;
        justify-content: center;
    }
    .linkedin{
        grid-column: 2/3;
    }

    transform: translateX(100%);
}

.logo,
.menu{
    z-index:2;
}

.menu{
    cursor: pointer;
}

@keyframes dot{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(2);
    }
}



/*to finsih later...
@media (max-width:){

}
*/


